<h4 style="margin-top: 15px">{{ author }}</h4>
<h5>Author's details</h5>

<form>
  <div class="row">
    <div class="three columns">
       <label for="idInput">ID</label>
       <input class="u-full-width" id="_id" type="text" value="{{ _id }}" readonly/>
    </div>
    <div class="three columns">
       <label for="codeInput">code</label>
       <input class="u-full-width" id="code" type="text" value="{{ code }}" readonly/>
    </div>
    <div class="three columns">
      <label for="locationInput">location</label>
      <input class="u-full-width" id="location" type="text" value="{{ location }}" readonly/>
    </div>  
   
  </div>
</form>

<h5>courses</h5>
<ul>
{{#courses}}
  <li><a href="https://courses-minisite.netlify.app/get?id={{course_id}}">{{title}}</li>
{{/courses}}
</ul>
