<h4 style="margin-top: 15px">{{ title }}</h4>
<h5>Author's details</h5>
<form>
  <div class="row">
    <div class="six columns">
       <label for="idInput">ID</label>
       <input class="u-full-width" type="number" id="id" value="{{ id }}"/>
    </div>
    <div class="six columns">
       <label for="nationalityInput">Nationality</label>
       <input class="u-full-width" type="string" id="nationality" value="{{ nationality }}"/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
       <label for="birthInput">Birth Year</label>
       <input class="u-full-width" type="number" id="birth_year" value="{{ birth_year }}"/>
    </div>
    <div class="six columns">
       <label for="fieldsInput">Fields</label>
       <input class="u-full-width" type="string" id="fields" value="{{ fields  }}"/>
    </div>
  </div>
</form>
<h5>Books</h5>
<ol>
{{#books}}
  <li><a href="https://books-minisite.netlify.app/get?id={{id}}">{{title}}</li>
{{/books}}
</ol>
